# Default ignored files
/../../Enums. Handling exceptional situations./.idea/shelf/
/../../Enums. Handling exceptional situations./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Enums. Handling exceptional situations./.idea/httpRequests/
# Datasource local storage ignored files
/../../Enums. Handling exceptional situations./.idea/dataSources/
/../../Enums. Handling exceptional situations./.idea/dataSources.local.xml
